$clr-pink: #C93B76;
$clr-black: #030303;
$clr-dark-blue: #212936;
$clr-dark-gray: #4D5562;
$clr-light-gray: #E5E7EB;
$clr-opaque: #12182688;

$shadow: 0px 2px 4px $clr-black, 0px 2px 4px $clr-dark-blue;
